html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #faa 0, #faa 6.17215%, transparent 6.17215%, transparent 8.5298%, #faa 8.5298%, #faa 14.70196%, transparent 14.70196%, transparent 17.05961%, #faa 17.05961%, #faa 23.23176%, transparent 23.23176%, transparent 25.58941%, #faa 25.58941%, #faa 31.76157%, transparent 31.76157%, transparent 34.11922%, #faa 34.11922%, #faa 40.29137%, transparent 40.29137%, transparent 42.64902%, #faa 42.64902%, #faa 48.82117%, transparent 48.82117%, transparent 51.17883%, #faa 51.17883%, #faa 57.35098%, transparent 57.35098%, transparent 59.70863%, #faa 59.70863%, #faa 65.88078%, transparent 65.88078%, transparent 68.23843%, #faa 68.23843%, #faa 74.41059%, transparent 74.41059%, transparent 76.76824%, #faa 76.76824%, #faa 82.94039%, transparent 82.94039%, transparent 85.29804%, #faa 85.29804%, #faa 91.4702%, transparent 91.4702%, transparent 93.82785%, #faa 93.82785%, #faa 100.0%, transparent 100.0%);
  background-image: -moz-linear-gradient(left, transparent 0, #faa 0, #faa 6.17215%, transparent 6.17215%, transparent 8.5298%, #faa 8.5298%, #faa 14.70196%, transparent 14.70196%, transparent 17.05961%, #faa 17.05961%, #faa 23.23176%, transparent 23.23176%, transparent 25.58941%, #faa 25.58941%, #faa 31.76157%, transparent 31.76157%, transparent 34.11922%, #faa 34.11922%, #faa 40.29137%, transparent 40.29137%, transparent 42.64902%, #faa 42.64902%, #faa 48.82117%, transparent 48.82117%, transparent 51.17883%, #faa 51.17883%, #faa 57.35098%, transparent 57.35098%, transparent 59.70863%, #faa 59.70863%, #faa 65.88078%, transparent 65.88078%, transparent 68.23843%, #faa 68.23843%, #faa 74.41059%, transparent 74.41059%, transparent 76.76824%, #faa 76.76824%, #faa 82.94039%, transparent 82.94039%, transparent 85.29804%, #faa 85.29804%, #faa 91.4702%, transparent 91.4702%, transparent 93.82785%, #faa 93.82785%, #faa 100.0%, transparent 100.0%);
  background-image: -ms-linear-gradient(left, transparent 0, #faa 0, #faa 6.17215%, transparent 6.17215%, transparent 8.5298%, #faa 8.5298%, #faa 14.70196%, transparent 14.70196%, transparent 17.05961%, #faa 17.05961%, #faa 23.23176%, transparent 23.23176%, transparent 25.58941%, #faa 25.58941%, #faa 31.76157%, transparent 31.76157%, transparent 34.11922%, #faa 34.11922%, #faa 40.29137%, transparent 40.29137%, transparent 42.64902%, #faa 42.64902%, #faa 48.82117%, transparent 48.82117%, transparent 51.17883%, #faa 51.17883%, #faa 57.35098%, transparent 57.35098%, transparent 59.70863%, #faa 59.70863%, #faa 65.88078%, transparent 65.88078%, transparent 68.23843%, #faa 68.23843%, #faa 74.41059%, transparent 74.41059%, transparent 76.76824%, #faa 76.76824%, #faa 82.94039%, transparent 82.94039%, transparent 85.29804%, #faa 85.29804%, #faa 91.4702%, transparent 91.4702%, transparent 93.82785%, #faa 93.82785%, #faa 100.0%, transparent 100.0%);
  background-image: -o-linear-gradient(left, transparent 0, #faa 0, #faa 6.17215%, transparent 6.17215%, transparent 8.5298%, #faa 8.5298%, #faa 14.70196%, transparent 14.70196%, transparent 17.05961%, #faa 17.05961%, #faa 23.23176%, transparent 23.23176%, transparent 25.58941%, #faa 25.58941%, #faa 31.76157%, transparent 31.76157%, transparent 34.11922%, #faa 34.11922%, #faa 40.29137%, transparent 40.29137%, transparent 42.64902%, #faa 42.64902%, #faa 48.82117%, transparent 48.82117%, transparent 51.17883%, #faa 51.17883%, #faa 57.35098%, transparent 57.35098%, transparent 59.70863%, #faa 59.70863%, #faa 65.88078%, transparent 65.88078%, transparent 68.23843%, #faa 68.23843%, #faa 74.41059%, transparent 74.41059%, transparent 76.76824%, #faa 76.76824%, #faa 82.94039%, transparent 82.94039%, transparent 85.29804%, #faa 85.29804%, #faa 91.4702%, transparent 91.4702%, transparent 93.82785%, #faa 93.82785%, #faa 100.0%, transparent 100.0%);
  background-image: linear-gradient(to left, transparent 0, #faa 0, #faa 6.17215%, transparent 6.17215%, transparent 8.5298%, #faa 8.5298%, #faa 14.70196%, transparent 14.70196%, transparent 17.05961%, #faa 17.05961%, #faa 23.23176%, transparent 23.23176%, transparent 25.58941%, #faa 25.58941%, #faa 31.76157%, transparent 31.76157%, transparent 34.11922%, #faa 34.11922%, #faa 40.29137%, transparent 40.29137%, transparent 42.64902%, #faa 42.64902%, #faa 48.82117%, transparent 48.82117%, transparent 51.17883%, #faa 51.17883%, #faa 57.35098%, transparent 57.35098%, transparent 59.70863%, #faa 59.70863%, #faa 65.88078%, transparent 65.88078%, transparent 68.23843%, #faa 68.23843%, #faa 74.41059%, transparent 74.41059%, transparent 76.76824%, #faa 76.76824%, #faa 82.94039%, transparent 82.94039%, transparent 85.29804%, #faa 85.29804%, #faa 91.4702%, transparent 91.4702%, transparent 93.82785%, #faa 93.82785%, #faa 100.0%, transparent 100.0%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 1024px;
  opacity: 0.1;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 9999; }
  @media screen and (max-width: 768px) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, #faa 0, #faa 9.36867%, transparent 9.36867%, transparent 12.94733%, #faa 12.94733%, #faa 22.316%, transparent 22.316%, transparent 25.89467%, #faa 25.89467%, #faa 35.26334%, transparent 35.26334%, transparent 38.842%, #faa 38.842%, #faa 48.21067%, transparent 48.21067%, transparent 51.78933%, #faa 51.78933%, #faa 61.158%, transparent 61.158%, transparent 64.73666%, #faa 64.73666%, #faa 74.10533%, transparent 74.10533%, transparent 77.684%, #faa 77.684%, #faa 87.05267%, transparent 87.05267%, transparent 90.63133%, #faa 90.63133%, #faa 100%, transparent 100%);
      background-image: -moz-linear-gradient(left, transparent 0, #faa 0, #faa 9.36867%, transparent 9.36867%, transparent 12.94733%, #faa 12.94733%, #faa 22.316%, transparent 22.316%, transparent 25.89467%, #faa 25.89467%, #faa 35.26334%, transparent 35.26334%, transparent 38.842%, #faa 38.842%, #faa 48.21067%, transparent 48.21067%, transparent 51.78933%, #faa 51.78933%, #faa 61.158%, transparent 61.158%, transparent 64.73666%, #faa 64.73666%, #faa 74.10533%, transparent 74.10533%, transparent 77.684%, #faa 77.684%, #faa 87.05267%, transparent 87.05267%, transparent 90.63133%, #faa 90.63133%, #faa 100%, transparent 100%);
      background-image: -ms-linear-gradient(left, transparent 0, #faa 0, #faa 9.36867%, transparent 9.36867%, transparent 12.94733%, #faa 12.94733%, #faa 22.316%, transparent 22.316%, transparent 25.89467%, #faa 25.89467%, #faa 35.26334%, transparent 35.26334%, transparent 38.842%, #faa 38.842%, #faa 48.21067%, transparent 48.21067%, transparent 51.78933%, #faa 51.78933%, #faa 61.158%, transparent 61.158%, transparent 64.73666%, #faa 64.73666%, #faa 74.10533%, transparent 74.10533%, transparent 77.684%, #faa 77.684%, #faa 87.05267%, transparent 87.05267%, transparent 90.63133%, #faa 90.63133%, #faa 100%, transparent 100%);
      background-image: -o-linear-gradient(left, transparent 0, #faa 0, #faa 9.36867%, transparent 9.36867%, transparent 12.94733%, #faa 12.94733%, #faa 22.316%, transparent 22.316%, transparent 25.89467%, #faa 25.89467%, #faa 35.26334%, transparent 35.26334%, transparent 38.842%, #faa 38.842%, #faa 48.21067%, transparent 48.21067%, transparent 51.78933%, #faa 51.78933%, #faa 61.158%, transparent 61.158%, transparent 64.73666%, #faa 64.73666%, #faa 74.10533%, transparent 74.10533%, transparent 77.684%, #faa 77.684%, #faa 87.05267%, transparent 87.05267%, transparent 90.63133%, #faa 90.63133%, #faa 100%, transparent 100%);
      background-image: linear-gradient(to left, transparent 0, #faa 0, #faa 9.36867%, transparent 9.36867%, transparent 12.94733%, #faa 12.94733%, #faa 22.316%, transparent 22.316%, transparent 25.89467%, #faa 25.89467%, #faa 35.26334%, transparent 35.26334%, transparent 38.842%, #faa 38.842%, #faa 48.21067%, transparent 48.21067%, transparent 51.78933%, #faa 51.78933%, #faa 61.158%, transparent 61.158%, transparent 64.73666%, #faa 64.73666%, #faa 74.10533%, transparent 74.10533%, transparent 77.684%, #faa 77.684%, #faa 87.05267%, transparent 87.05267%, transparent 90.63133%, #faa 90.63133%, #faa 100%, transparent 100%); } }
  @media screen and (max-width: 640px) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, #faa 0, #faa 9.36867%, transparent 9.36867%, transparent 12.94733%, #faa 12.94733%, #faa 22.316%, transparent 22.316%, transparent 25.89467%, #faa 25.89467%, #faa 35.26334%, transparent 35.26334%, transparent 38.842%, #faa 38.842%, #faa 48.21067%, transparent 48.21067%, transparent 51.78933%, #faa 51.78933%, #faa 61.158%, transparent 61.158%, transparent 64.73666%, #faa 64.73666%, #faa 74.10533%, transparent 74.10533%, transparent 77.684%, #faa 77.684%, #faa 87.05267%, transparent 87.05267%, transparent 90.63133%, #faa 90.63133%, #faa 100%, transparent 100%);
      background-image: -moz-linear-gradient(left, transparent 0, #faa 0, #faa 9.36867%, transparent 9.36867%, transparent 12.94733%, #faa 12.94733%, #faa 22.316%, transparent 22.316%, transparent 25.89467%, #faa 25.89467%, #faa 35.26334%, transparent 35.26334%, transparent 38.842%, #faa 38.842%, #faa 48.21067%, transparent 48.21067%, transparent 51.78933%, #faa 51.78933%, #faa 61.158%, transparent 61.158%, transparent 64.73666%, #faa 64.73666%, #faa 74.10533%, transparent 74.10533%, transparent 77.684%, #faa 77.684%, #faa 87.05267%, transparent 87.05267%, transparent 90.63133%, #faa 90.63133%, #faa 100%, transparent 100%);
      background-image: -ms-linear-gradient(left, transparent 0, #faa 0, #faa 9.36867%, transparent 9.36867%, transparent 12.94733%, #faa 12.94733%, #faa 22.316%, transparent 22.316%, transparent 25.89467%, #faa 25.89467%, #faa 35.26334%, transparent 35.26334%, transparent 38.842%, #faa 38.842%, #faa 48.21067%, transparent 48.21067%, transparent 51.78933%, #faa 51.78933%, #faa 61.158%, transparent 61.158%, transparent 64.73666%, #faa 64.73666%, #faa 74.10533%, transparent 74.10533%, transparent 77.684%, #faa 77.684%, #faa 87.05267%, transparent 87.05267%, transparent 90.63133%, #faa 90.63133%, #faa 100%, transparent 100%);
      background-image: -o-linear-gradient(left, transparent 0, #faa 0, #faa 9.36867%, transparent 9.36867%, transparent 12.94733%, #faa 12.94733%, #faa 22.316%, transparent 22.316%, transparent 25.89467%, #faa 25.89467%, #faa 35.26334%, transparent 35.26334%, transparent 38.842%, #faa 38.842%, #faa 48.21067%, transparent 48.21067%, transparent 51.78933%, #faa 51.78933%, #faa 61.158%, transparent 61.158%, transparent 64.73666%, #faa 64.73666%, #faa 74.10533%, transparent 74.10533%, transparent 77.684%, #faa 77.684%, #faa 87.05267%, transparent 87.05267%, transparent 90.63133%, #faa 90.63133%, #faa 100%, transparent 100%);
      background-image: linear-gradient(to left, transparent 0, #faa 0, #faa 9.36867%, transparent 9.36867%, transparent 12.94733%, #faa 12.94733%, #faa 22.316%, transparent 22.316%, transparent 25.89467%, #faa 25.89467%, #faa 35.26334%, transparent 35.26334%, transparent 38.842%, #faa 38.842%, #faa 48.21067%, transparent 48.21067%, transparent 51.78933%, #faa 51.78933%, #faa 61.158%, transparent 61.158%, transparent 64.73666%, #faa 64.73666%, #faa 74.10533%, transparent 74.10533%, transparent 77.684%, #faa 77.684%, #faa 87.05267%, transparent 87.05267%, transparent 90.63133%, #faa 90.63133%, #faa 100%, transparent 100%); } }
  @media screen and (max-width: 480px) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, #faa 0, #faa 19.43277%, transparent 19.43277%, transparent 26.85574%, #faa 26.85574%, #faa 46.28851%, transparent 46.28851%, transparent 53.71149%, #faa 53.71149%, #faa 73.14426%, transparent 73.14426%, transparent 80.56723%, #faa 80.56723%, #faa 100%, transparent 100%);
      background-image: -moz-linear-gradient(left, transparent 0, #faa 0, #faa 19.43277%, transparent 19.43277%, transparent 26.85574%, #faa 26.85574%, #faa 46.28851%, transparent 46.28851%, transparent 53.71149%, #faa 53.71149%, #faa 73.14426%, transparent 73.14426%, transparent 80.56723%, #faa 80.56723%, #faa 100%, transparent 100%);
      background-image: -ms-linear-gradient(left, transparent 0, #faa 0, #faa 19.43277%, transparent 19.43277%, transparent 26.85574%, #faa 26.85574%, #faa 46.28851%, transparent 46.28851%, transparent 53.71149%, #faa 53.71149%, #faa 73.14426%, transparent 73.14426%, transparent 80.56723%, #faa 80.56723%, #faa 100%, transparent 100%);
      background-image: -o-linear-gradient(left, transparent 0, #faa 0, #faa 19.43277%, transparent 19.43277%, transparent 26.85574%, #faa 26.85574%, #faa 46.28851%, transparent 46.28851%, transparent 53.71149%, #faa 53.71149%, #faa 73.14426%, transparent 73.14426%, transparent 80.56723%, #faa 80.56723%, #faa 100%, transparent 100%);
      background-image: linear-gradient(to left, transparent 0, #faa 0, #faa 19.43277%, transparent 19.43277%, transparent 26.85574%, #faa 26.85574%, #faa 46.28851%, transparent 46.28851%, transparent 53.71149%, #faa 53.71149%, #faa 73.14426%, transparent 73.14426%, transparent 80.56723%, #faa 80.56723%, #faa 100%, transparent 100%); } }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  /*margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;*/
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  padding: 0 0.5em; }

.content, nav, header section, hr {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto; }
  .content::after, nav::after, header section::after, hr::after {
    clear: both;
    content: "";
    display: table; }

.content article {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .content article:last-child {
    margin-right: 0; }

@media screen and (max-width: 480px) {
  .first-row article {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%; }
    .first-row article:last-child {
      margin-right: 0; } }

@media screen and (max-width: 768px) {
  .second-row article {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 48.21067%; }
    .second-row article:last-child {
      margin-right: 0; } }

@media screen and (max-width: 768px) {
  .second-row article:nth-child(2) {
    margin-right: 0; } }

hr {
  margin: 2em auto; }

img {
  width: 100%;
  height: auto; }

body {
  font-family: "Gotham", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #131313; }
  @media screen and (max-width: 768px) {
    body {
      font-size: 14px;
      line-height: 1.3; } }

h1 a, h2 a, h3 a, h4 a, h5 a {
  color: #131313;
  text-decoration: none;
  border-bottom: 1px solid white; }

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
  color: #C8102E;
  border-bottom: 1px solid #C8102E;
  text-decoration: none; }

h1 {
  font-size: 2em;
  line-height: 1.25em; }

h2 {
  font-size: 1.5em;
  line-height: 1.35em; }

h3 {
  font-size: 1.3em;
  line-height: 1.4; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 0.875em; }

a {
  color: #00205B;
  font-weight: 500;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  text-decoration: none; }

a:hover {
  color: #C8102E;
  text-decoration: underline; }

a:focus {
  outline-color: #00205B; }

.small-text {
  font-size: 0.83em; }

.right-text {
  text-align: right; }

.table-test .small-text {
  display: none; }
  @media screen and (max-width: 640px) {
    .table-test .small-text {
      display: block; } }

.table-wrap {
  position: relative; }

table {
  font-size: 0.875em;
  width: 100%;
  position: relative;
  overflow: scroll; }
  table td {
    padding: 0.4em 0.7em;
    border: 1px solid #DDDDDD; }
  table tr:nth-of-type(2n+2) {
    background: #f8f8f8; }
  @media screen and (max-width: 640px) {
    table {
      max-width: 100%;
      display: block; } }

.fader {
  display: none;
  width: 4em;
  height: 100%;
  position: absolute;
  right: 0;
  background-color: rgba(255, 255, 255, 0);
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), white);
  background-image: linear-gradient(to right,rgba(255, 255, 255, 0), white);
  top: 0; }
  @media screen and (max-width: 640px) {
    .fader {
      display: block; } }

.top-nav {
  display: block; }
  .top-nav::after {
    clear: both;
    content: "";
    display: table; }
  .top-nav ul {
    list-style: none;
    float: right; }
    .top-nav ul li {
      float: left;
      padding-right: 1em; }

header {
  background: #00205B;
  color: white;
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding: 0.5em;
  display: block; }
  header::after {
    clear: both;
    content: "";
    display: table; }
  header .logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    header .logo:last-child {
      margin-right: 0; }
    header .logo img {
      max-width: 80px; }
  header .search {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    header .search:last-child {
      margin-right: 0; }
    @media screen and (max-width: 640px) {
      header .search {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 100%; }
        header .search:last-child {
          margin-right: 0; } }
  header .quick-links {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-right: 0; }
    header .quick-links:last-child {
      margin-right: 0; }
    @media screen and (max-width: 640px) {
      header .quick-links {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 100%; }
        header .quick-links:last-child {
          margin-right: 0; } }

footer {
  background: #00205B;
  color: white;
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding: 0.5em;
  display: block; }
  footer::after {
    clear: both;
    content: "";
    display: table; }

/*# sourceMappingURL=main.css.map */
