//Primary colors
$black: #131313;
$blue: #00205B;
$red: #C8102E;

//Grays
$cool-gray: #737378;
$light-gray: #DDDDDD;
$off-white: #f8f8f8;

//Secondary colors
$green: #78BE20;
$light-blue: #0095C8;
$dark-blue: #00163D;

//Transparents
$transparent-white: rgba(255,255,255,0.1);
$semi-transparent-white: rgba(255,255,255,0.3);