body {
	padding: 0 0.875em;
}

.row, nav, header section, hr{
	@include outer-container(1200px);
}

.row{
	article {
		@include span-columns(4);
	}
}
.first-row article {
	div {
		@include span-columns(6 of 8);
	}
	div:last-child {
		@include span-columns(2 of 8);
		img {
			max-width: 3.75em;
		}
	}
	@include media($medium){
        @include span-columns(4);
    }
    @include media($small){
        @include span-columns(8);
    }
}
.first-row article:nth-child(2) {
	@include media($medium){
		@include omega();
	}
}
.news-row article{
    @include media($medium){
        @include span-columns(4);
    }
    @include media($xtrasmall){
        @include span-columns(4);
    }
}
.news-row article:nth-child(2){
	@include media($medium){
		@include omega();
	}
}
.linked-boxes article {
	@include media($medium){
		@include span-columns(8);
		margin-bottom: 2em;
	}
}

