

.top-nav {
	@include row();
	ul {
		list-style: none;
		float: right;
		li {
			float: left;
			padding-right: $marg-sides;
		}
	}
}

nav ul a {
	text-decoration: none;
}

header {
	background: $blue;
	color: white;
	margin-left: -0.875em;
	margin-right: -0.875em;
	padding: 2em 0.5em;
	@include row();

	.logo {
		@include span-columns(1);
		img {
			max-width: 80px;
		}
		@include media($small){
	        @include span-columns(8);
	        text-align: center;
	    }
	}
	.search {
		@include span-columns(7);
		padding: 0.5em 2em 0 0;
		input {
			color: $black;
		}
		label {
			display: block;
		}
		div {
			width: 100%;
			height: $input-height;
		}
		div button, div input {
			float: left;
			display: block;
		}
		div input {
			width: 100%;
			padding-right: $input-height;
		}
		div button {
			margin-left: -$input-height;
   			@include size($input-height);
   			border: 1px solid $blue;
   			text-indent: -9999px;
   			background-image: url("../img/search_blue.svg");
   			background-color: white;
   			background-repeat: no-repeat;
   			background-size: 1.4em 1.4em;
   			background-position: center center;
   			border-radius: 0;
   			border-bottom-right-radius: $global-radius;
   			border-top-right-radius: $global-radius;
   			border-left-width: 2px;
   			color: $blue;
   			@include transition(background-color $trans-time ease-in-out);
			@include omega();
		}
		div button:hover {
			background-image: url("../img/search.svg");
			background-color: $red;
			color: white;
		}
		@include media($small){
	        @include span-columns(8);
	    }
	}
	.quick-links {
		position: relative;
		padding-left: 4em;
		border-left: 1px solid $semi-transparent-white;
		@include span-columns(4);
		@include omega();
		@include media($small){
	        @include span-columns(8);
	        border-left: 0;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
	        padding-left: 2em;
=======
	        padding-left: 2.2em;
>>>>>>> master
=======
	        padding-left: 2.2em;
>>>>>>> master
=======
	        padding-left: 2.2em;
>>>>>>> master
	        border-top: 1px solid white;
	    }
	    h3 {
	    	margin-top: 0.5em;
	    }
	    a {
	    	color: white;
	    }
	}
	.quick-links:before {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
		content:"x";
		position: absolute;
		left: 2.4em;
		top: 0.6em;
=======
=======
>>>>>>> master
=======
>>>>>>> master
		content:"";
		position: absolute;
		left: 2em;
		top: 0.75em;
		width: 1.3em;
		height: 1.3em;
		background: url("../img/star.svg");
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> master
=======
>>>>>>> master
=======
>>>>>>> master
		@include media($small) {
			left: 0.4em;
		}
	}
	 .linked-list li {
	    border-color: $transparent-white;
	}
}

footer {
	background: $blue;
	color: white;
	margin-left: -0.5em;
	margin-right: -0.5em;
	padding: 0.5em;
	@include row();
}