body {
	font-family: "Gotham", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	color: $black;
	@include media($medium){
		font-size: 14px;
		line-height: 1.4;
	}
}

h1 a, h2 a, h3 a, h4 a, h5 a {
	color: $black;	
	text-decoration: none;
	border-bottom: 1px solid white;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
	color: $red;
	border-bottom: 1px solid $red;
	text-decoration: none;
}

h1, .h1-size {
	font-size: 2em;
	line-height: 1.25em;
}
h2 {
	font-size: 1.5em;
	line-height: 1.35em;
}
h3 {
	font-size: 1.3em;
	line-height: 1.4em;
}
h4 {
	font-size: 1em;
}
h5 {
	font-size: 0.875em;
}
header h3 {
	font-weight: 500;
}

a {
	color: $blue;
	@include transition(all $trans-time ease-in-out);
}
a:hover {
	color: $red;
	text-decoration: underline;
}
a:focus {
	outline-color: $blue;
}

.linked-list {
	li {
		border-bottom: 1px solid $light-gray;
		@include transition(border $trans-time ease-in-out);
	}
	li:hover {
		border-color: $red;
	}
	li a:hover {
	text-decoration: none;
	}
	li a {
		text-decoration: none;
		display: block;
		padding: 0.375em 0;
	}
}


.small-text {
	font-size: 0.875em;
	line-height: 1.5em;
}
.fine-text {
	font-size: 0.75em;
	color: $cool-gray;
}

.lead {
	font-size: 1.875em;
	line-height: 1.3em;
	font-weight: 200;
}

.right-text {
	text-align: right;
}


//Special cases
.first-row {
	h2 {
		margin: 0;
	}
}
.news-row {
	h2 {
		margin-bottom: 0;
	}
	p.fine-text {
    	margin-top: 0;
	}
}



.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}